@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Nunito", "sans-serif";
    --color-light: oklch(1 0 0);
    --color-light-2: oklch(0.9581 0 0);
    --color-medium: oklch(0.5021 0.0041 39.46);
    --color-medium-2: oklch(0.6712 0.0028 48.7);
    --color-medium-3: oklch(0.8704 0.0018 67.8);
    --color-dark: oklch(0.2221 0 0);
    --color-accent: oklch(0.5341 0.0429 161.22);
    --color-accent-2: oklch(0.49 0.0429 161.22);
}
